In [1]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 2.7MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.15.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1675384 sha256=928e74f032f610b0a3f03f56744b7f54de4d5169d6ed16dc796c2e68b7cab92e
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [0]:
#importing the libraries
import pandas as pd
import numpy as np

In [0]:
from surprise import Reader, Dataset, SVD
reader = Reader()

In [4]:
!wget https://github.com/coding-blocks-archives/Data-Noida-2019-Dec/blob/master/datasets/recom/ratings_small.csv?raw=true

--2020-06-05 03:02:33--  https://github.com/coding-blocks-archives/Data-Noida-2019-Dec/blob/master/datasets/recom/ratings_small.csv?raw=true
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/coding-blocks-archives/Data-Noida-2019-Dec/raw/master/datasets/recom/ratings_small.csv [following]
--2020-06-05 03:02:34--  https://github.com/coding-blocks-archives/Data-Noida-2019-Dec/raw/master/datasets/recom/ratings_small.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/coding-blocks-archives/Data-Noida-2019-Dec/master/datasets/recom/ratings_small.csv [following]
--2020-06-05 03:02:34--  https://raw.githubusercontent.com/coding-blocks-archives/Data-Noida-2019-Dec/master/datasets/recom/ratings_small.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2438266 (2.3M) [text/plain]
Saving to: ‘ratings_small.csv?raw=true’

ratings_small.csv?r 100%[===================>]   2.33M  --.-KB/s    in 0.09s

2020-06-05 03:02:34 (25.6 MB/s) - ‘ratings_small.csv?raw=true’ saved [2438266/2438266]

In [7]:
#Here,we use UserId to get personalized recommendations for each of the users
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [0]:
#loading the data from dataframe
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [0]:
#importing the cross-validate from surprise
from surprise.model_selection import cross_validate

In [0]:
#building the SVD model
algo=SVD()

In [11]:
#finding the root mean square error and mean average error
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9008  0.8922  0.8988  0.8988  0.8925  0.8966  0.0036
MAE (testset)     0.6929  0.6883  0.6936  0.6894  0.6858  0.6900  0.0029
Fit time          4.81    4.77    4.80    4.76    4.81    4.79    0.02
Test time         0.14    0.14    0.21    0.14    0.21    0.17    0.04

{'fit_time': (4.8084986209869385,
  4.772652626037598,
  4.800355672836304,
  4.760608434677124,
  4.814421653747559),
 'test_mae': array([0.69289963, 0.68825078, 0.69363448, 0.6893913 , 0.68575038]),
 'test_rmse': array([0.90084096, 0.89222459, 0.89880483, 0.89881218, 0.89249674]),
 'test_time': (0.1441817283630371,
  0.13588237762451172,
  0.2148444652557373,
  0.1383073329925537,
  0.21171188354492188)}

In [0]:
#rmse value of above 9 is obtained whihc is good so we go on to train the dataset
trainset=data.build_full_trainset()

In [14]:
#fitting the model
algo.fit(trainset)

In [15]:
#finding the recommended movies according to userID
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [17]:
algo.predict(1,302,3)
#For movie with ID 302, we get an estimated prediction of 2.618.
#One startling feature of this recommender system is that it doesn't care what the movie is (or what it contains).
#It works purely on the basis of an assigned movie ID and tries to predict ratings based on how the other users have
#predicted the movie

Prediction(uid=1, iid=302, r_ui=3, est=2.7903600066522003, details={'was_impossible': False})

Colloborative Based Filtering System : Here, we used SVD of surprise library and RMS value of 0.9 was
obtained which is a good value.